[submodule "3th/cjson"]
	path = 3th/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "3th/pcre2"]
	path = 3th/pcre2
	url = https://github.com/PhilipHazel/pcre2.git
[submodule "3th/pthread"]
	path = 3th/pthread
	url = https://github.com/GerHobbelt/pthread-win32.git
[submodule "3th/ssh2"]
	path = 3th/ssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "nmake"]
	path = nmake
	url = https://github.com/xt9852/nmake.git
